.bg-black {
    background: #000;
}

.badge--large {
    padding: .5em .8em;
}

.mw-500 {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.the-font {
    font-family: 'Gloria Hallelujah', sans-serif;
}

.navbar {
    transition: background 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;;
}

.navbar-dark {
    color: #fff;
}

.background-added {
    background: #fff;
    box-shadow:
    0 1.1px 1.3px rgba(0, 0, 0, 0.02),
    0 3.8px 4.2px rgba(0, 0, 0, 0.03),
    0 17px 19px rgba(0, 0, 0, 0.05);
}

.pizza-title {
    height: 100vh;
    padding-top: 50px;
    min-height: 400px;
    color: #fff;
    background: none;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
}

.pizza-title:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    background-attachment: fixed;
    z-index: -2;
}

.pizza-title:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/ingredients.png);
    background-attachment: fixed;
    background-size: 500px;
    opacity: 0.3;
    z-index: -1;
}

.pizzeria {
    position: relative;
    background: none;
}

.pizzeria:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/oven.jpg) no-repeat center center;
    background-attachment: fixed;
    z-index: -2;
}

.pizzeria:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.7;
    z-index: -1;
}

@media screen and (min-width: 768px) {
    .lh-big {
        line-height: 1.5;
    }
    
    .mt-big {
        margin-top: 80px!important;
    }
}

@media screen and (max-width: 992px) {
    .navbar-black {
        background: #000;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1240px;
    }
}